{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create post form</title>
        <link rel="stylesheet" href={% static "myapp/style.css" %}>
    </head>
    <body>
        <h2>Use this form to create a post</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="submit">
        </form>
    </body>
</html>
